<a href="/new">Create a new document</a>

<ul>
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      <a href="/<%= file %>/edit">(edit)</a>
      <form method="post" action="/<%= file %>/delete">
        <button type="submit">delete</button>
      </form>
      <br>
    </li>
  <% end %>
</ul>

<% if session[:username] %>
  <p class="user-status">Currently logged in as: <%= session[:username] %></p>
  <form method="post" action="/signout">
    <button type="submit">Sign-out</button>
  </form>
<% else %>
  <form method="get" action="/signin">
    <button type="submit">Sign-in</button>
  </form>
<% end %>
